PORT=3000
APP_ORIGIN=http://127.0.0.1:5173
SESSION_COOKIE_NAME=megaerp_session
SESSION_JWT_SECRET=fiuodheo3ry93yu98nrv9ufh9wy3r8fh8973wyfinfijehw8fhew2qh39hy98fh3wqu9f3wfiuherte

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=megaerp

MP_ACCESS_TOKEN=

GOOGLE_CLIENT_ID=596334070378-6jkr5qt0n3klglsdfp7m18isul2vb4u1.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
